{% extends 'base.html' %}

{% block title %}Weather Report{% endblock %}

{% block content %}

    <div class="p-4 shadow-4 rounded-3" style="background-color: hsl(0, 0%, 94%);">
        <h2>What's the weather today?</h2>
        <hr class="my-4" />
        <form method="POST">
            <div class="form-group input-group">
                <input type="search" class="button form-control rounded" name="query" placeholder="Search City">
                <button type="submit" class="btn btn-primary" name="action" value="search">Add City</button>
            </div>
        </form>
    </div>

    <br>

    <div class="container">
        {% for weather in weather_data %}
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h4 class="card-title"> {{ weather.city }} </h4>
                <figure class="image is-50x50">
                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" ALIGN="center" alt="Weather Icon">
                </figure> 
                <caption>
                    <h5> {{ weather.temperature }} ° F  </h5>
                    <br>
                    <h6> H: {{ weather.temp_min }} ° | L: {{ weather.temp_max }} ° </h6>
                    <br>
                    {{ weather.description }} 
                </caption>
            </div>
        </div>
        {% endfor %}    
    </div>

{% endblock %}